@import url(reset.css);
///////
$form_color: #4e6190;
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #e1e3ea;
  height: 100vh;
  font-family: "Indie Flower", cursive;
}
.app {
  width: 90%;

  h1 {
    color: white;
    font-size: 40px;
    padding: 10px 0;
    text-align: center;
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: #d6542c;
  }
  form {
    display: flex;
    background-color: $form_color;
    .input_newtask {
      border: none;
      background-color: $form_color;
      font-size: 18px;
      color: white;
      padding: 10px;
      width: 100%;
    }
    .input_btn {
      border: none;
      color: white;
      background-color: #99a8bb;
      font-size: 25px;
      font-weight: 600;
      height: 42px;
      width: 20%;
      color: #4e6190;
      &:hover {
        animation: btnhover 0.5s ease 0s 1 normal forwards;
      }
    }
    ul {
      li {
        background-color: #262e4c;
        border-bottom: 1px solid #3a4674;
        .trash {
          width: 10%;
          float: right;
        }
      }
    }
  }
}

.check {
  width: 15px;
  height: 15px;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  .check:checked {
    background-color: #1dd2af;
  }
}
.task {
  font-size: 18px;
  padding: 0 10px;
  width: 45%;
  .task:focus {
    outline: none;
  }
}
.completed {
  color: brown;
  text-decoration: line-through;
}
@keyframes btnhover {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    transform: scale(1);
  }

  100% {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    transform: scale(1.1);
  }
}
@media screen and (min-width: 768px) {
  .app {
    width: 80%;
  }
  ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    .task {
      width: 300px;
    }
  }
}
